<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Athletes</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">

<div th:replace="~{fragments/navbar :: navbar('Athletes')}"></div>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Sport</th>
          <th>Position</th>
          <th>Weight</th>
          <th>Height</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr th:if="${#lists.isEmpty(athletes)}">
          <td colspan="7">No athletes found.</td>
        </tr>
        <tr th:each="a : ${athletes}">
          <td th:text="${a.name}"></td>
          <td th:text="${a.age}"></td>
          <td th:text="${a.sport}"></td>
          <td th:text="${a.position}"></td>
          <td th:text="${a.weight}"></td>
          <td th:text="${a.height}"></td>
          <td th:text="${a.country}"></td>
        </tr>
      </tbody>
    </table>

  </div>
</body>
</html>
